body{
    box-sizing: border-box;
}

.navbar-items ul{
    margin-left: 70%;
   
}

.navbar-brand{
    padding-left: 60px;
}




/* main body */
.main-body{
    background-color: black;
    text-align: center;
}
.main-body img{
    width: 100%;
}
.main-body .row{
    padding: 6% 6%;
}
.main-body .row h1{
    margin-top: 16%;
    font-size: 80px;
    color: white;   
}
.main-body .row p{
    font-size: 20px;
    color: white;
}

/* display cards */
.display-row img{
    width: 80%;
}
.img-div{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEEEEE;
}

.display-row .col-lg-4{
    text-align: center;
}


/* testimonials */
.testimonials{
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}
.testimonials i{
    font-size: 60px;
    color: #FBCB0A;
}
.testimonials p{
    color: grey;
}

/* footer */
.footer{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: black;
    color: rgb(120,120,120);
    text-align: center;
}
.footer i{
    margin: 20px;
}


@media only screen and (max-width: 981px) {
    .navbar-brand{
        padding-left: 0px;
    }
    .navbar-items ul{
        margin-left: 0%;
    }
    .main-body .row h1{
        font-size: 50px;
        color: white;   
        font-weight: bold;
    }
    .main-body .row p{
        margin-left: 30px;
        margin-right: 30px;
        font-size: 14px;
        color: white;
    }
    
}